:host {
  display: block;
  min-height: 100%;
  background: var(--ion-background-color);
  color: var(--ion-color-step-700, #222);
  padding-bottom: env(safe-area-inset-bottom);
}
ion-title {
  text-align: center;
  font-weight: 700;
  color: var(--ion-color-primary, #1e72ff);
}

ion-searchbar {
  margin: 1rem auto;
  width: calc(100% - 2rem);
  max-width: 640px;
  --color:black;
  --icon-color:black;
  --background: #fff;
  --border-radius: 14px;
  --placeholder-color: black;
  box-shadow: 0 6px 16px black;
}

ion-card {
  width: 100%;
  max-width: 760px;
  margin: 0.75rem auto;
  border-radius: 12px;
  overflow: hidden;
  background: var(--ion-card-background, #ffffff);
  box-shadow: 0 10px 24px rgba(10,20,40,0.05);
}


ion-card-header {
  padding: 12px 16px;
  border-bottom: 1px solid black;
}

ion-card-title {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--ion-color-primary, #1e72ff);
}

ion-card-subtitle {
  font-size: 0.9rem;
  color: var(--ion-color-medium,black);
}


ion-card-content {
  padding: 12px 16px 18px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
