
.galeria {
  display: flex;
  flex-direction: column; 
  gap: 10px;              
  margin-top: 15px;
}

.tarjetaFoto {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

}
.FotoTomada {
  width: 200px;
  height: 200px; 
  object-fit: contain; 
}

.infoFoto {
  text-align:left;
  font-size: 14px;
  color: #ffffff;
  padding: 8px;
}

ion-button {
  margin-bottom:15px;
}