.photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.photo-container ion-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.photo-name {
  margin-top: 4px;
  font-size: 12px;
  text-align: center;
}