<ion-content class="ion-padding">
  <ion-button expand="block" (click)="addPhotoToGallery()">Tomar foto</ion-button>

  <div *ngIf="photoService.photos.length > 0" class="galeria">
    <div *ngFor="let p of photoService.photos">
      <ion-card class="tarjetaFoto">
        <ion-img [src]="p.webviewPath" class="FotoTomada"></ion-img>
        <ion-card-content class="infoFoto">
          <p>Lat: {{ p.lat }}</p>
          <p>Lng: {{ p.lng }}</p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
